*{
    margin: 0;
    padding: 0;
}
body{
    overscroll-behavior: contain;
}
#contenedor{
    display: flex;
    margin-top: 10px;
    width: auto;
}
#texto{
    font-size: 30px;
    padding: 0 20px;
    width: 800px;
}
#rango{
    width:700px;
    margin: 0 40px;
}

#boton{
    font-size: 30px;
    width: 1300px;
    padding: 0 10px;
    margin: 0 30px;
}
#lienzo{
    margin: 10px;
}
